In [10]:
import pandas as pd
import matplotlib as plt
import numpy as np
import requests
from bs4 import BeautifulSoup

In [11]:
# Choose the year, read api keys file and assign variables

census_api_key = "663083891f5b9346c0f75af604c1bb8f7e48712b"
YEAR = 2019

In [12]:
def json_to_dataframe(response):
    """
    Convert response to dataframe
    """
    return pd.DataFrame(response.json()[1:], columns=response.json()[0])

In [13]:
# population united states
url = "https://api.census.gov/data/2019/pep/charage?get=NAME,POP&for=us:*&key={0}"\
    .format(census_api_key)

response = requests.request("GET", url)

In [14]:
json_to_dataframe(response)

            NAME        POP us
0  United States  328239523  1

In [15]:
# population united states by year (last 5 on record)
url = "https://api.census.gov/data/2019/acs/acs1?get=NAME,B17001_021E&for=county:*&in=state:*&key={0}"\
    .format(census_api_key)

response = requests.request("GET", url)

In [16]:
json_to_dataframe(response)

                           NAME B17001_021E state county
0    Jefferson County, Kentucky        2631    21    111
1    Hennepin County, Minnesota        2810    27    053
2     Olmsted County, Minnesota         186    27    109
3       Scott County, Minnesota         159    27    139
4     Faulkner County, Arkansas         259    05    045
..                          ...         ...   ...    ...
835       Kaufman County, Texas         317    48    257
836          Bell County, Texas        2267    48    027
837       Cameron County, Texas        3226    48    061
838       El Paso County, Texas        4151    48    141
839   Nacogdoches County, Texas          93    48    347

[840 rows x 4 columns]

In [17]:
#example for requesting data from the county

url = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,C25122_002E&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key)

response = requests.request("GET", url)

In [18]:
dfJ = json_to_dataframe(response)
dfJ

                         NAME C25122_002E state county
0  Jefferson County, Kentucky       14995    21    111

In [19]:
#example for requesting data from the county

url = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B25122_002E&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key)

response = requests.request("GET", url)
dfJ = json_to_dataframe(response)
dfJ

                         NAME B25122_002E state county
0  Jefferson County, Kentucky       14995    21    111

In [20]:
#example for requesting data from the state
url = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001F_001E,B17001F_002E&for=state:21&key={1}"\
    .format(YEAR,census_api_key)

#"https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001_001E,B17001_002E&for=county:111&in=state:21&key={1}"\
#    .format(YEAR,census_api_key)
response = requests.request("GET", url)

df = json_to_dataframe(response)
df

       NAME B17001F_001E B17001F_002E state
0  Kentucky        39031        11614    21

In [21]:
#example for requesting data from US 
variables1 = "B17001_029E,B17001_030E"
url = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{VARIABLES}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,VARIABLES=variables1)

response = requests.request("GET", url)
df = json_to_dataframe(response)
df

                         NAME B17001_029E B17001_030E state county
0  Jefferson County, Kentucky        4284        3409    21    111

In [22]:

#Get the API Data for each variables. (Poverty in Jefferson county by race)
urlT = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001_001E,B17001_002E,B17001_003E,B17001_017E,B17010_003E,B17010_010E,B17010_016E&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlA = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001A_001E,B17001A_002E,B17001A_003E,B17001A_017E,B17010A_003E,B17010A_010E,B17010A_016E&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlB = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001B_001E,B17001B_002E,B17001B_003E,B17001B_017E,B17010B_003E,B17010B_010E,B17010B_016E&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlC = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001C_001E,B17001C_002E,B17001C_003E,B17001C_017E,B17010C_003E,B17010C_010E,B17010C_016E&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlD = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001D_001E,B17001D_002E,B17001D_003E,B17001D_017E,B17010D_003E,B17010D_010E,B17010D_016E&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlE = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001E_001E,B17001E_002E,B17001E_003E,B17001E_017E,B17010E_003E,B17010E_010E,B17010E_016E&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlF = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001F_001E,B17001F_002E,B17001F_003E,B17001F_017E,B17010F_003E,B17010F_010E,B17010F_016E&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlG = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001G_001E,B17001G_002E,B17001G_003E,B17001G_017E,B17010G_003E,B17010G_010E,B17010G_016E&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlH = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001H_001E,B17001H_002E,B17001H_003E,B17001H_017E,B17010H_003E,B17010H_010E,B17010H_016E&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlI = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001I_001E,B17001I_002E,B17001I_003E,B17001I_017E,B17010I_003E,B17010I_010E,B17010I_016E&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key)

#Transfer the json data to dataframe
DFT = json_to_dataframe(requests.request("GET", urlT))
DFA = json_to_dataframe(requests.request("GET", urlA))
DFB = json_to_dataframe(requests.request("GET", urlB))
DFC = json_to_dataframe(requests.request("GET", urlC))
DFD = json_to_dataframe(requests.request("GET", urlD))
DFE = json_to_dataframe(requests.request("GET", urlE))
DFF = json_to_dataframe(requests.request("GET", urlF))
DFG = json_to_dataframe(requests.request("GET", urlG))
DFH = json_to_dataframe(requests.request("GET", urlH))
DFI = json_to_dataframe(requests.request("GET", urlI))

#Add additional info for the race
DFT['info'] = "Total poverty population"
DFA['info'] = "White Alone"
DFB['info'] = "Black or African American Alone"
DFC['info'] = "American Indian and Alaska Native Alone"
DFD['info'] = "Asian Alone"
DFE['info'] = "Native Hawaiian ana Other Pacific Islander Alone"
DFF['info'] = "Some Other Race Alone"
DFG['info'] = "Two or More Races"
DFH['info'] = "White Alone, Not Hispanic or Latino"
DFI['info'] = "Hispanic or Latino"

#Concate the dataframes into one dataframe
dfJ = pd.DataFrame(np.concatenate([DFT.values, DFA.values, DFB.values,DFC.values, DFD.values,
                                  DFE.values,DFF.values, DFG.values, DFH.values,DFI.values]))

#Add column name
dfJ.columns=["Location", "Total population","Poverty population", "Male","Female", "Married couple","Male householder","Female householder","State Code","County Code", "Race"]

#Drop the code for State and County.
dfJ = dfJ.drop(["State Code", "County Code"], axis=1)

#Export the dataframe as csv
dfJ.to_csv('Jefferson_Poverty_by_Race.csv')

In [23]:
dfJ

,Location,Total population,Poverty population,Male,Female,Married couple,Male householder,Female householder,Race
0,"Jefferson County, Kentucky",750585,104759,44244,60515,4626,1686,11814,Total poverty population
1,"Jefferson County, Kentucky",534848,58964,25409,33555,3306,1117,5097,White Alone
2,"Jefferson County, Kentucky",168945,40346,16599,23747,1129,511,6526,Black or African American Alone
3,"Jefferson County, Kentucky",None,None,None,None,None,None,None,American Indian and Alaska Native Alone
4,"Jefferson County, Kentucky",None,None,None,None,None,None,None,Asian Alone
5,"Jefferson County, Kentucky",None,None,None,None,None,None,None,Native Hawaiian ana Other Pacific Islander Alone
6,"Jefferson County, Kentucky",None,None,None,None,None,None,None,Some Other Race Alone
7,"Jefferson County, Kentucky",None,None,None,None,None,None,None,Two or More Races
8,"Jefferson County, Kentucky",498709,52271,22247,30024,2885,1117,4954,"White Alone, Not Hispanic or Latino"
9,"Jefferson County, Kentucky",44521,8147,3875,4272,None,None,None,Hispanic or Latino

In [24]:
#Get the API Data for each variables. (Poverty in Kentucky by race)
urlT = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001_001E,B17001_002E,B17001_003E,B17001_017E,B17010_003E,B17010_010E,B17010_016E&for=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlA = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001A_001E,B17001A_002E,B17001A_003E,B17001A_017E,B17010A_003E,B17010A_010E,B17010A_016E&for=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlB = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001B_001E,B17001B_002E,B17001B_003E,B17001B_017E,B17010B_003E,B17010B_010E,B17010B_016E&for=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlC = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001C_001E,B17001C_002E,B17001C_003E,B17001C_017E,B17010C_003E,B17010C_010E,B17010C_016E&for=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlD = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001D_001E,B17001D_002E,B17001D_003E,B17001D_017E,B17010D_003E,B17010D_010E,B17010D_016E&for=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlE = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001E_001E,B17001E_002E,B17001E_003E,B17001E_017E,B17010E_003E,B17010E_010E,B17010E_016E&for=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlF = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001F_001E,B17001F_002E,B17001F_003E,B17001F_017E,B17010F_003E,B17010F_010E,B17010F_016E&for=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlG = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001G_001E,B17001G_002E,B17001G_003E,B17001G_017E,B17010G_003E,B17010G_010E,B17010G_016E&for=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlH = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001H_001E,B17001H_002E,B17001H_003E,B17001H_017E,B17010H_003E,B17010H_010E,B17010H_016E&for=state:21&key={1}"\
    .format(YEAR,census_api_key)
urlI = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001I_001E,B17001I_002E,B17001I_003E,B17001I_017E,B17010I_003E,B17010I_010E,B17010I_016E&for=state:21&key={1}"\
    .format(YEAR,census_api_key)

#Transfer the json data to dataframe
DFT = json_to_dataframe(requests.request("GET", urlT))
DFA = json_to_dataframe(requests.request("GET", urlA))
DFB = json_to_dataframe(requests.request("GET", urlB))
DFC = json_to_dataframe(requests.request("GET", urlC))
DFD = json_to_dataframe(requests.request("GET", urlD))
DFE = json_to_dataframe(requests.request("GET", urlE))
DFF = json_to_dataframe(requests.request("GET", urlF))
DFG = json_to_dataframe(requests.request("GET", urlG))
DFH = json_to_dataframe(requests.request("GET", urlH))
DFI = json_to_dataframe(requests.request("GET", urlI))

#Add additional info for the race
DFT['info'] = "Total poverty population"
DFA['info'] = "White Alone"
DFB['info'] = "Black or African American Alone"
DFC['info'] = "American Indian and Alaska Native Alone"
DFD['info'] = "Asian Alone"
DFE['info'] = "Native Hawaiian ana Other Pacific Islander Alone"
DFF['info'] = "Some Other Race Alone"
DFG['info'] = "Two or More Races"
DFH['info'] = "White Alone, Not Hispanic or Latino"
DFI['info'] = "Hispanic or Latino"

#Concate the dataframes into one dataframe
dfK = pd.DataFrame(np.concatenate([DFT.values, DFA.values, DFB.values,DFC.values, DFD.values,
                                 DFE.values,DFF.values, DFG.values, DFH.values,DFI.values]))

#Add column name
dfK.columns = ["Location", "Total population","Poverty population","Male","Female", "Married couple", "Male householder", "Female householder","State Code", "Race"]

#Drop the State code column.
dfK = dfK.drop("State Code", axis=1)

# #Export the dataframe as csv
dfK.to_csv('kentuck_Poverty_by_Race.csv')

In [25]:
dfK

,Location,Total population,Poverty population,Male,Female,Married couple,Male householder,Female householder,Race
0,Kentucky,4326675,703627,310714,392913,49588,16521,67565,Total poverty population
1,Kentucky,3759375,567223,248823,318400,45150,13144,52082,White Alone
2,Kentucky,345206,84163,37754,46409,2199,1994,11717,Black or African American Alone
3,Kentucky,None,None,None,None,None,None,None,American Indian and Alaska Native Alone
4,Kentucky,71985,9257,4041,5216,None,None,None,Asian Alone
5,Kentucky,None,None,None,None,None,None,None,Native Hawaiian ana Other Pacific Islander Alone
6,Kentucky,39031,11614,5700,5914,737,932,1097,Some Other Race Alone
7,Kentucky,99443,29171,13496,15675,None,None,None,Two or More Races
8,Kentucky,3652406,546603,239102,307501,43958,12749,50888,"White Alone, Not Hispanic or Latino"
9,Kentucky,161735,37211,17701,19510,1929,1450,2608,Hispanic or Latino

In [26]:
#Get the API Data for each variables. (Poverty in the US by race)
urlT = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001_001E,B17001_002E,B17001_003E,B17001_017E,B17010_003E,B17010_010E,B17010_016E&for=us:*&key={1}"\
    .format(YEAR,census_api_key)
urlA = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001A_001E,B17001A_002E,B17001A_003E,B17001A_017E,B17010A_003E,B17010A_010E,B17010A_016E&for=us:*&key={1}"\
    .format(YEAR,census_api_key)
urlB = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001B_001E,B17001B_002E,B17001B_003E,B17001B_017E,B17010B_003E,B17010B_010E,B17010B_016E&for=us:*&key={1}"\
    .format(YEAR,census_api_key)
urlC = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001C_001E,B17001C_002E,B17001C_003E,B17001C_017E,B17010C_003E,B17010C_010E,B17010C_016E&for=us:*&key={1}"\
    .format(YEAR,census_api_key)
urlD = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001D_001E,B17001D_002E,B17001D_003E,B17001D_017E,B17010D_003E,B17010D_010E,B17010D_016E&for=us:*&key={1}"\
    .format(YEAR,census_api_key)
urlE = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001E_001E,B17001E_002E,B17001E_003E,B17001E_017E,B17010E_003E,B17010E_010E,B17010E_016E&for=us:*&key={1}"\
    .format(YEAR,census_api_key)
urlF ="https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001F_001E,B17001F_002E,B17001F_003E,B17001F_017E,B17010F_003E,B17010F_010E,B17010F_016E&for=us:*&key={1}"\
    .format(YEAR,census_api_key)
urlG ="https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001G_001E,B17001G_002E,B17001G_003E,B17001G_017E,B17010G_003E,B17010G_010E,B17010G_016E&for=us:*&key={1}"\
    .format(YEAR,census_api_key)
urlH = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001H_001E,B17001H_002E,B17001H_003E,B17001H_017E,B17010H_003E,B17010H_010E,B17010H_016E&for=us:*&key={1}"\
    .format(YEAR,census_api_key)
urlI = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,B17001I_001E,B17001I_002E,B17001I_003E,B17001I_017E,B17010I_003E,B17010I_010E,B17010I_016E&for=us:*&key={1}"\
    .format(YEAR,census_api_key)
#Transfer the json data to dataframe
DFT = json_to_dataframe(requests.request("GET", urlT))
DFA = json_to_dataframe(requests.request("GET", urlA))
DFB = json_to_dataframe(requests.request("GET", urlB))
DFC = json_to_dataframe(requests.request("GET", urlC))
DFD = json_to_dataframe(requests.request("GET", urlD))
DFE = json_to_dataframe(requests.request("GET", urlE))
DFF = json_to_dataframe(requests.request("GET", urlF))
DFG = json_to_dataframe(requests.request("GET", urlG))
DFH = json_to_dataframe(requests.request("GET", urlH))
DFI = json_to_dataframe(requests.request("GET", urlI))

#Add additional info for the race
DFT['info'] = "Total poverty population"
DFA['info'] = "White Alone"
DFB['info'] = "Black or African American Alone"
DFC['info'] = "American Indian and Alaska Native Alone"
DFD['info'] = "Asian Alone"
DFE['info'] = "Native Hawaiian ana Other Pacific Islander Alone"
DFF['info'] = "Some Other Race Alone"
DFG['info'] = "Two or More Races"
DFH['info'] = "White Alone, Not Hispanic or Latino"
DFI['info'] = "Hispanic or Latino"

#Concate the dataframes into one dataframe
dfUS = pd.DataFrame(np.concatenate([DFT.values, DFA.values, DFB.values,DFC.values, DFD.values,
                                 DFE.values,DFF.values, DFG.values, DFH.values,DFI.values]))

#Add column name
dfUS.columns = ["Location", "Total population","Poverty population","Male","Female", "Married couple", "Male householder", "Female householder", "US", "Race"]

#Drop the State code column.
dfUS = dfUS.drop("US", axis=1)

# #Export the dataframe as csv
dfUS.to_csv('US_Poverty_by_Race.csv')

In [27]:
dfUS

,Location,Total population,Poverty population,Male,Female,Married couple,Male householder,Female householder,Race
0,United States,320118791,39490096,17473451,22016645,2453432,747135,3629341,Total poverty population
1,United States,231191647,23828085,10511675,13316410,1679878,446824,1944969,White Alone
2,United States,40291288,8557464,3722048,4835416,266721,167705,1146160,Black or African American Alone
3,United States,2749899,633584,291826,341758,33262,18121,63106,American Indian and Alaska Native Alone
4,United States,18274780,1761321,805984,955337,186903,24593,76635,Asian Alone
5,United States,608300,100256,43702,56554,5881,2535,6609,Native Hawaiian ana Other Pacific Islander Alone
6,United States,16016665,2935304,1315566,1619738,218558,62785,275259,Some Other Race Alone
7,United States,10986212,1674082,782650,891432,62229,24572,116603,Two or More Races
8,United States,192289025,17352095,7644495,9707600,1217205,328029,1326082,"White Alone, Not Hispanic or Latino"
9,United States,59226212,10201081,4547734,5653347,709452,194338,960955,Hispanic or Latino

In [28]:
#Join the three tables
dfMerge1 = pd.concat([dfJ, dfK, dfUS])
dfMerge1["Year"]=YEAR

#Export it as csv
dfMerge1.to_csv('Poverty_RaceAndSex.csv')

In [29]:
dfMerge1

,Location,Total population,Poverty population,Male,Female,Married couple,Male householder,Female householder,Race,Year
0,"Jefferson County, Kentucky",750585,104759,44244,60515,4626,1686,11814,Total poverty population,2019
1,"Jefferson County, Kentucky",534848,58964,25409,33555,3306,1117,5097,White Alone,2019
2,"Jefferson County, Kentucky",168945,40346,16599,23747,1129,511,6526,Black or African American Alone,2019
3,"Jefferson County, Kentucky",None,None,None,None,None,None,None,American Indian and Alaska Native Alone,2019
4,"Jefferson County, Kentucky",None,None,None,None,None,None,None,Asian Alone,2019
5,"Jefferson County, Kentucky",None,None,None,None,None,None,None,Native Hawaiian ana Other Pacific Islander Alone,2019
6,"Jefferson County, Kentucky",None,None,None,None,None,None,None,Some Other Race Alone,2019
7,"Jefferson County, Kentucky",None,None,None,None,None,None,None,Two or More Races,2019
8,"Jefferson County, Kentucky",498709,52271,22247,30024,2885,1117,4954,"White Alone, Not Hispanic or Latino",2019
9,"Jefferson County, Kentucky",44521,8147,3875,4272,None,None,None,Hispanic or Latino,2019
0,Kentucky,4326675,703627,310714,392913,49588,16521,67565,Total poverty population,2019
1,Kentucky,3759375,567223,248823,318400,45150,13144,52082,White Alone,2019
2,Kentucky,345206,84163,37754,46409,2199,1994,11717,Black or African American Alone,2019
3,Kentucky,None,None,None,None,None,None,None,American Indian and Alaska Native Alone,2019
4,Kentucky,71985,9257,4041,5216,None,None,None,Asian Alone,2019
5,Kentucky,None,None,None,None,None,None,None,Native Hawaiian ana Other Pacific Islander Alone,2019
6,Kentucky,39031,11614,5700,5914,737,932,1097,Some Other Race Alone,2019
7,Kentucky,99443,29171,13496,15675,None,None,None,Two or More Races,2019
8,Kentucky,3652406,546603,239102,307501,43958,12749,50888,"White Alone, Not Hispanic or Latino",2019
9,Kentucky,161735,37211,17701,19510,1929,1450,2608,Hispanic or Latino,2019
0,United States,320118791,39490096,17473451,22016645,2453432,747135,3629341,Total poverty population,2019
1,United States,231191647,23828085,10511675,13316410,1679878,446824,1944969,White Alone,2019
2,United States,40291288,8557464,3722048,4835416,266721,167705,1146160,Black or African American Alone,2019
3,United States,2749899,633584,291826,341758,33262,18121,63106,American Indian and Alaska Native Alone,2019
4,United States,18274780,1761321,805984,955337,186903,24593,76635,Asian Alone,2019
5,United States,608300,100256,43702,56554,5881,2535,6609,Native Hawaiian ana Other Pacific Islander Alone,2019
6,United States,16016665,2935304,1315566,1619738,218558,62785,275259,Some Other Race Alone,2019
7,United States,10986212,1674082,782650,891432,62229,24572,116603,Two or More Races,2019
8,United States,192289025,17352095,7644495,9707600,1217205,328029,1326082,"White Alone, Not Hispanic or Latino",2019
9,United States,59226212,10201081,4547734,5653347,709452,194338,960955,Hispanic or Latino,2019

Create a table for poverty by education

In [30]:
#Store the Education variables
#less than high school graduate
varu1= "B17003_004E,B17003_009E"
#High school graduate
varu2= "B17003_005E,B17003_010E"
#some college, associate's degree
varu3= "B17003_006E,B17003_011E"
#Bachelor's degree or higher
varu4= "B17003_007E,B17003_012E"

In [31]:
#Education data for Jefferson County
url1 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu1)
url2 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu2)
url3 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu3)
url4 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu4)

#Transfer the json data to dataframe
DF1 = json_to_dataframe(requests.request("GET", url1))
DF2 = json_to_dataframe(requests.request("GET", url2))
DF3 = json_to_dataframe(requests.request("GET", url3))
DF4 = json_to_dataframe(requests.request("GET", url4))


#Add additional info for the race
DF1['info'] = "Less than high school graduate"
DF2['info'] = "High school graduate"
DF3['info'] = "Some college, associate's degree"
DF4['info'] = "Bachlor's degree or higher"

#Concate the dataframes into one dataframe
dfeJ = pd.DataFrame(np.concatenate([DF1.values, DF2.values, DF3.values,DF4.values]))

#Add column name
dfeJ.columns = ["Location", "Male","Female", "State", "County","info"]

#Drop the State code column.
dfeJ = dfeJ.drop(["State","County"], axis=1)

# #Export the dataframe as csv
#dfUS.to_csv('US_Poverty_by_Race.csv')

In [32]:
dfeJ

                     Location  Male Female                              info
0  Jefferson County, Kentucky  5700   8529    Less than high school graduate
1  Jefferson County, Kentucky  9094  12270              High school graduate
2  Jefferson County, Kentucky  3825  12977  Some college, associate's degree
3  Jefferson County, Kentucky  3015   3646        Bachlor's degree or higher

In [33]:
#Education data for the State of kentucky
url1 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu1)
url2 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu2)
url3 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu3)
url4 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu4)

#Transfer the json data to dataframe
DF1 = json_to_dataframe(requests.request("GET", url1))
DF2 = json_to_dataframe(requests.request("GET", url2))
DF3 = json_to_dataframe(requests.request("GET", url3))
DF4 = json_to_dataframe(requests.request("GET", url4))


#Add additional info for the race
DF1['info'] = "Less than high school graduate"
DF2['info'] = "High school graduate"
DF3['info'] = "Some college, associate's degree"
DF4['info'] = "Bachlor's degree or higher"

#Concate the dataframes into one dataframe
dfeK = pd.DataFrame(np.concatenate([DF1.values, DF2.values, DF3.values,DF4.values]))

#Add column name
dfeK.columns = ["Location", "Male","Female", "State","info"]

#Drop the State code column.
dfeK = dfeK.drop(["State"], axis=1)

In [34]:
dfeK

   Location   Male Female                              info
0  Kentucky  58406  64243    Less than high school graduate
1  Kentucky  70452  88517              High school graduate
2  Kentucky  27174  63596  Some college, associate's degree
3  Kentucky  12555  18234        Bachlor's degree or higher

In [35]:
#Education data for the US 
url1 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varu1)
url2 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varu2)
url3 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varu3)
url4 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varu4)

#Transfer the json data to dataframe
DF1 = json_to_dataframe(requests.request("GET", url1))
DF2 = json_to_dataframe(requests.request("GET", url2))
DF3 = json_to_dataframe(requests.request("GET", url3))
DF4 = json_to_dataframe(requests.request("GET", url4))


#Add additional info for the race
DF1['info'] = "Less than high school graduate"
DF2['info'] = "High school graduate"
DF3['info'] = "Some college, associate's degree"
DF4['info'] = "Bachlor's degree or higher"

#Concate the dataframes into one dataframe
dfeUS = pd.DataFrame(np.concatenate([DF1.values, DF2.values, DF3.values,DF4.values]))

#Add column name
dfeUS.columns = ["Location", "Male","Female", "us","info"]

#Drop the State code column.
dfeUS = dfeUS.drop(["us"], axis=1)
dfeUS

        Location     Male   Female                              info
0  United States  2430999  3338909    Less than high school graduate
1  United States  3216327  4487226              High school graduate
2  United States  2081943  3699770  Some college, associate's degree
3  United States  1277689  1744430        Bachlor's degree or higher

In [36]:
#Join the three tables
dfeMerge = pd.concat([dfeJ, dfeK, dfeUS])

#Rename columns

dfeMerge['Year']=YEAR

#Export it as csv
dfeMerge.to_csv('Poverty_Education.csv')

In [37]:
dfeMerge

,Location,Male,Female,info,Year
0,"Jefferson County, Kentucky",5700,8529,Less than high school graduate,2019
1,"Jefferson County, Kentucky",9094,12270,High school graduate,2019
2,"Jefferson County, Kentucky",3825,12977,"Some college, associate's degree",2019
3,"Jefferson County, Kentucky",3015,3646,Bachlor's degree or higher,2019
0,Kentucky,58406,64243,Less than high school graduate,2019
1,Kentucky,70452,88517,High school graduate,2019
2,Kentucky,27174,63596,"Some college, associate's degree",2019
3,Kentucky,12555,18234,Bachlor's degree or higher,2019
0,United States,2430999,3338909,Less than high school graduate,2019
1,United States,3216327,4487226,High school graduate,2019
2,United States,2081943,3699770,"Some college, associate's degree",2019
3,United States,1277689,1744430,Bachlor's degree or higher,2019

In [38]:
dfeMerge

,Location,Male,Female,info,Year
0,"Jefferson County, Kentucky",5700,8529,Less than high school graduate,2019
1,"Jefferson County, Kentucky",9094,12270,High school graduate,2019
2,"Jefferson County, Kentucky",3825,12977,"Some college, associate's degree",2019
3,"Jefferson County, Kentucky",3015,3646,Bachlor's degree or higher,2019
0,Kentucky,58406,64243,Less than high school graduate,2019
1,Kentucky,70452,88517,High school graduate,2019
2,Kentucky,27174,63596,"Some college, associate's degree",2019
3,Kentucky,12555,18234,Bachlor's degree or higher,2019
0,United States,2430999,3338909,Less than high school graduate,2019
1,United States,3216327,4487226,High school graduate,2019
2,United States,2081943,3699770,"Some college, associate's degree",2019
3,United States,1277689,1744430,Bachlor's degree or higher,2019

Poverty by Age groups

In [39]:
#Create Variables for different racies
varT= "B17001_004E,B17001_005E,B17001_006E,B17001_007E,B17001_008E,B17001_009E,B17001_010E,B17001_011E,B17001_012E,B17001_013E,B17001_014E,B17001_015E,B17001_016E,B17001_018E,B17001_019E,B17001_020E,B17001_021E,B17001_022E,B17001_023E,B17001_024E,B17001_025E,B17001_026E,B17001_027E,B17001_028E,B17001_029E,B17001_030E"
varA= "B17001A_004E,B17001A_005E,B17001A_006E,B17001A_007E,B17001A_008E,B17001A_009E,B17001A_010E,B17001A_011E,B17001A_012E,B17001A_013E,B17001A_014E,B17001A_015E,B17001A_016E,B17001A_018E,B17001A_019E,B17001A_020E,B17001A_021E,B17001A_022E,B17001A_023E,B17001A_024E,B17001A_025E,B17001A_026E,B17001A_027E,B17001A_028E,B17001A_029E,B17001A_030E"
varB= "B17001B_004E,B17001B_005E,B17001B_006E,B17001B_007E,B17001B_008E,B17001B_009E,B17001B_010E,B17001B_011E,B17001B_012E,B17001B_013E,B17001B_014E,B17001B_015E,B17001B_016E,B17001B_018E,B17001B_019E,B17001B_020E,B17001B_021E,B17001B_022E,B17001B_023E,B17001B_024E,B17001B_025E,B17001B_026E,B17001B_027E,B17001B_028E,B17001B_029E,B17001B_030E"
varC= "B17001C_004E,B17001C_005E,B17001C_006E,B17001C_007E,B17001C_008E,B17001C_009E,B17001C_010E,B17001C_011E,B17001C_012E,B17001C_013E,B17001C_014E,B17001C_015E,B17001C_016E,B17001C_018E,B17001C_019E,B17001C_020E,B17001C_021E,B17001C_022E,B17001C_023E,B17001C_024E,B17001C_025E,B17001C_026E,B17001C_027E,B17001C_028E,B17001C_029E,B17001C_030E"
varD= "B17001D_004E,B17001D_005E,B17001D_006E,B17001D_007E,B17001D_008E,B17001D_009E,B17001D_010E,B17001D_011E,B17001D_012E,B17001D_013E,B17001D_014E,B17001D_015E,B17001D_016E,B17001D_018E,B17001D_019E,B17001D_020E,B17001D_021E,B17001D_022E,B17001D_023E,B17001D_024E,B17001D_025E,B17001D_026E,B17001D_027E,B17001D_028E,B17001D_029E,B17001D_030E"
varE= "B17001E_004E,B17001E_005E,B17001E_006E,B17001E_007E,B17001E_008E,B17001E_009E,B17001E_010E,B17001E_011E,B17001E_012E,B17001E_013E,B17001E_014E,B17001E_015E,B17001E_016E,B17001E_018E,B17001E_019E,B17001E_020E,B17001E_021E,B17001E_022E,B17001E_023E,B17001E_024E,B17001E_025E,B17001E_026E,B17001E_027E,B17001E_028E,B17001E_029E,B17001E_030E"
varF= "B17001F_004E,B17001F_005E,B17001F_006E,B17001F_007E,B17001F_008E,B17001F_009E,B17001F_010E,B17001F_011E,B17001F_012E,B17001F_013E,B17001F_014E,B17001F_015E,B17001F_016E,B17001F_018E,B17001F_019E,B17001F_020E,B17001F_021E,B17001F_022E,B17001F_023E,B17001F_024E,B17001F_025E,B17001F_026E,B17001F_027E,B17001F_028E,B17001F_029E,B17001F_030E"
varG= "B17001G_004E,B17001G_005E,B17001G_006E,B17001G_007E,B17001G_008E,B17001G_009E,B17001G_010E,B17001G_011E,B17001G_012E,B17001G_013E,B17001G_014E,B17001G_015E,B17001G_016E,B17001G_018E,B17001G_019E,B17001G_020E,B17001G_021E,B17001G_022E,B17001G_023E,B17001G_024E,B17001G_025E,B17001G_026E,B17001G_027E,B17001G_028E,B17001G_029E,B17001G_030E"
varH= "B17001H_004E,B17001H_005E,B17001H_006E,B17001H_007E,B17001H_008E,B17001H_009E,B17001H_010E,B17001H_011E,B17001H_012E,B17001H_013E,B17001H_014E,B17001H_015E,B17001H_016E,B17001H_018E,B17001H_019E,B17001H_020E,B17001H_021E,B17001H_022E,B17001H_023E,B17001H_024E,B17001H_025E,B17001H_026E,B17001H_027E,B17001H_028E,B17001H_029E,B17001H_030E"
varI= "B17001I_004E,B17001I_005E,B17001I_006E,B17001I_007E,B17001I_008E,B17001I_009E,B17001I_010E,B17001I_011E,B17001I_012E,B17001I_013E,B17001I_014E,B17001I_015E,B17001I_016E,B17001I_018E,B17001I_019E,B17001I_020E,B17001I_021E,B17001I_022E,B17001I_023E,B17001I_024E,B17001I_025E,B17001I_026E,B17001I_027E,B17001I_028E,B17001I_029E,B17001I_030E"

#Name of the variables above
name= ["Male less than 5","Male 5","Male 6-11","Male 12-14","Male 15","Male 16-17","Male 18-24","Male 25-34","Male 35-44","Male 45-54","Male 55-64","Male 65-74","Male 75 and older", "Female less than 5","Female 5","Female 6-11","Female 12-14","Female 15","Female 16-17","Female 18-24","Female 25-34","Female 35-44", "Female 45-54", "Female 55-64","Female 65-74","Female 75 and older"]

In [40]:
#Detailed age data
#Get the API Data for each variables. (Poverty in Jefferson county by race)
urlT = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varT)
urlA = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varA)
urlB = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varB)
urlC = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varC)
urlD = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varD)
urlE = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varE)
urlF = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varF)
urlG = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varG)
urlH = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varH)
urlI = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varI)

#Transfer the json data to dataframe
DFT = json_to_dataframe(requests.request("GET", urlT))
DFA = json_to_dataframe(requests.request("GET", urlA))
DFB = json_to_dataframe(requests.request("GET", urlB))
DFC = json_to_dataframe(requests.request("GET", urlC))
DFD = json_to_dataframe(requests.request("GET", urlD))
DFE = json_to_dataframe(requests.request("GET", urlE))
DFF = json_to_dataframe(requests.request("GET", urlF))
DFG = json_to_dataframe(requests.request("GET", urlG))
DFH = json_to_dataframe(requests.request("GET", urlH))
DFI = json_to_dataframe(requests.request("GET", urlI))

#Add additional info for the race
DFT['info'] = "Total poverty population"
DFA['info'] = "White Alone"
DFB['info'] = "Black or African American Alone"
DFC['info'] = "American Indian and Alaska Native Alone"
DFD['info'] = "Asian Alone"
DFE['info'] = "Native Hawaiian ana Other Pacific Islander Alone"
DFF['info'] = "Some Other Race Alone"
DFG['info'] = "Two or More Races"
DFH['info'] = "White Alone, Not Hispanic or Latino"
DFI['info'] = "Hispanic or Latino"

#Concate the dataframes into one dataframe
dfageJ = pd.DataFrame(np.concatenate([DFT.values, DFA.values, DFB.values,DFC.values, DFD.values,
                                  DFE.values,DFF.values, DFG.values, DFH.values,DFI.values]))

#Add column name
dfageJ.columns = ["Location", "Male less than 5","Male 5","Male 6-11","Male 12-14","Male 15","Male 16-17","Male 18-24","Male 25-34","Male 35-44","Male 45-54","Male 55-64","Male 65-74","Male 75 and older", "Female less than 5","Female 5","Female 6-11","Female 12-14","Female 15","Female 16-17","Female 18-24","Female 25-34","Female 35-44", "Female 45-54", "Female 55-64","Female 65-74","Female 75 and older","State code","County code","info"]

#Drop the State code column.
dfageJ = dfageJ.drop(["State code","County code"], axis=1)

In [41]:
dfageJ

,Location,Male less than 5,Male 5,Male 6-11,Male 12-14,Male 15,Male 16-17,Male 18-24,Male 25-34,Male 35-44,...,Female 15,Female 16-17,Female 18-24,Female 25-34,Female 35-44,Female 45-54,Female 55-64,Female 65-74,Female 75 and older,info
0,"Jefferson County, Kentucky",5234,878,6975,1605,439,1337,6142,5153,3539,...,1060,1637,5989,9203,6953,6075,7498,4284,3409,Total poverty population
1,"Jefferson County, Kentucky",2371,354,3122,662,213,469,4700,2865,2395,...,348,500,4290,5104,4000,4091,3871,2640,2713,White Alone
2,"Jefferson County, Kentucky",2646,375,3191,943,226,778,1038,1999,1095,...,712,1137,1429,3697,2617,1776,3560,1325,662,Black or African American Alone
3,"Jefferson County, Kentucky",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,American Indian and Alaska Native Alone
4,"Jefferson County, Kentucky",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,Asian Alone
5,"Jefferson County, Kentucky",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,Native Hawaiian ana Other Pacific Islander Alone
6,"Jefferson County, Kentucky",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,Some Other Race Alone
7,"Jefferson County, Kentucky",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,Two or More Races
8,"Jefferson County, Kentucky",2064,209,2182,662,137,469,4480,2398,2107,...,348,472,3706,4401,3756,3765,3561,2472,2617,"White Alone, Not Hispanic or Latino"
9,"Jefferson County, Kentucky",307,145,1302,0,76,0,348,514,464,...,0,28,660,841,280,372,310,233,96,Hispanic or Latino

In [42]:
#Detailed age data for the state of KY
#Get the API Data for each variables. 
urlT = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varT)
urlA = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varA)
urlB = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varB)
urlC = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varC)
urlD = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varD)
urlE = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varE)
urlF = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varF)
urlG = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varG)
urlH = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varH)
urlI = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varI)

#Transfer the json data to dataframe
DFT = json_to_dataframe(requests.request("GET", urlT))
DFA = json_to_dataframe(requests.request("GET", urlA))
DFB = json_to_dataframe(requests.request("GET", urlB))
DFC = json_to_dataframe(requests.request("GET", urlC))
DFD = json_to_dataframe(requests.request("GET", urlD))
DFE = json_to_dataframe(requests.request("GET", urlE))
DFF = json_to_dataframe(requests.request("GET", urlF))
DFG = json_to_dataframe(requests.request("GET", urlG))
DFH = json_to_dataframe(requests.request("GET", urlH))
DFI = json_to_dataframe(requests.request("GET", urlI))

#Add additional info for the race
DFT['info'] = "Total poverty population"
DFA['info'] = "White Alone"
DFB['info'] = "Black or African American Alone"
DFC['info'] = "American Indian and Alaska Native Alone"
DFD['info'] = "Asian Alone"
DFE['info'] = "Native Hawaiian ana Other Pacific Islander Alone"
DFF['info'] = "Some Other Race Alone"
DFG['info'] = "Two or More Races"
DFH['info'] = "White Alone, Not Hispanic or Latino"
DFI['info'] = "Hispanic or Latino"

#Concate the dataframes into one dataframe
dfageK = pd.DataFrame(np.concatenate([DFT.values, DFA.values, DFB.values,DFC.values, DFD.values,
                                  DFE.values,DFF.values, DFG.values, DFH.values,DFI.values]))

#Add column name
dfageK.columns = ["Location", "Male less than 5","Male 5","Male 6-11","Male 12-14","Male 15","Male 16-17","Male 18-24","Male 25-34","Male 35-44","Male 45-54","Male 55-64","Male 65-74","Male 75 and older", "Female less than 5","Female 5","Female 6-11","Female 12-14","Female 15","Female 16-17","Female 18-24","Female 25-34","Female 35-44", "Female 45-54", "Female 55-64","Female 65-74","Female 75 and older","State code","info"]

#Drop the State code column.
dfageK = dfageK.drop(["State code"], axis=1)

In [43]:
dfageK

,Location,Male less than 5,Male 5,Male 6-11,Male 12-14,Male 15,Male 16-17,Male 18-24,Male 25-34,Male 35-44,...,Female 15,Female 16-17,Female 18-24,Female 25-34,Female 35-44,Female 45-54,Female 55-64,Female 65-74,Female 75 and older,info
0,Kentucky,31250,7115,36411,13515,5608,8187,40041,37200,29296,...,4890,11039,48279,56485,42499,37299,45019,28429,24859,Total poverty population
1,Kentucky,22296,5209,27860,11294,3852,6329,29074,30583,24785,...,3413,8428,40401,45963,35294,31646,37026,24987,22490,White Alone
2,Kentucky,4393,620,4699,1632,673,1212,6456,4060,2385,...,1102,1664,4404,6417,4633,4370,7062,2761,1859,Black or African American Alone
3,Kentucky,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,American Indian and Alaska Native Alone
4,Kentucky,205,35,434,91,357,114,744,502,456,...,64,268,334,1781,632,215,51,478,93,Asian Alone
5,Kentucky,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,Native Hawaiian ana Other Pacific Islander Alone
6,Kentucky,1270,123,729,249,178,73,839,1017,1186,...,0,98,568,705,926,583,100,0,0,Some Other Race Alone
7,Kentucky,3086,1128,2652,249,468,459,2928,878,290,...,311,581,2105,1599,872,461,518,203,268,Two or More Races
8,Kentucky,20831,4847,25370,10900,3496,6133,28269,29522,23843,...,3413,8123,39015,44262,34182,30854,36531,24530,22143,"White Alone, Not Hispanic or Latino"
9,Kentucky,3051,444,3650,732,863,527,1891,2248,2380,...,0,403,2053,2949,2186,1407,595,522,491,Hispanic or Latino

In [44]:
#Detailed age data for the US
#Get the API Data for each variables. 
urlT = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varT)
urlA = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varA)
urlB = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varB)
urlC = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varC)
urlD = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varD)
urlE = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varE)
urlF = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varF)
urlG = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varG)
urlH = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varH)
urlI = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varI)

#Transfer the json data to dataframe
DFT = json_to_dataframe(requests.request("GET", urlT))
DFA = json_to_dataframe(requests.request("GET", urlA))
DFB = json_to_dataframe(requests.request("GET", urlB))
DFC = json_to_dataframe(requests.request("GET", urlC))
DFD = json_to_dataframe(requests.request("GET", urlD))
DFE = json_to_dataframe(requests.request("GET", urlE))
DFF = json_to_dataframe(requests.request("GET", urlF))
DFG = json_to_dataframe(requests.request("GET", urlG))
DFH = json_to_dataframe(requests.request("GET", urlH))
DFI = json_to_dataframe(requests.request("GET", urlI))

#Add additional info for the race
DFT['info'] = "Total poverty population"
DFA['info'] = "White Alone"
DFB['info'] = "Black or African American Alone"
DFC['info'] = "American Indian and Alaska Native Alone"
DFD['info'] = "Asian Alone"
DFE['info'] = "Native Hawaiian ana Other Pacific Islander Alone"
DFF['info'] = "Some Other Race Alone"
DFG['info'] = "Two or More Races"
DFH['info'] = "White Alone, Not Hispanic or Latino"
DFI['info'] = "Hispanic or Latino"

#Concate the dataframes into one dataframe
dfageUS = pd.DataFrame(np.concatenate([DFT.values, DFA.values, DFB.values,DFC.values, DFD.values,
                                  DFE.values,DFF.values, DFG.values, DFH.values,DFI.values]))

#Add column name
dfageUS.columns = ["Location", "Male less than 5","Male 5","Male 6-11","Male 12-14","Male 15","Male 16-17","Male 18-24","Male 25-34","Male 35-44","Male 45-54","Male 55-64","Male 65-74","Male 75 and older", "Female less than 5","Female 5","Female 6-11","Female 12-14","Female 15","Female 16-17","Female 18-24","Female 25-34","Female 35-44", "Female 45-54", "Female 55-64","Female 65-74","Female 75 and older","US","info"]

#Drop the State code column.
dfageUS = dfageUS.drop(["US"], axis=1)

In [45]:
dfageUS

,Location,Male less than 5,Male 5,Male 6-11,Male 12-14,Male 15,Male 16-17,Male 18-24,Male 25-34,Male 35-44,...,Female 15,Female 16-17,Female 18-24,Female 25-34,Female 35-44,Female 45-54,Female 55-64,Female 65-74,Female 75 and older,info
0,United States,1755965,338372,2089994,991916,329253,587469,2373524,2008604,1668264,...,313871,588210,2838809,3196183,2559899,2003957,2341181,1598994,1570121,Total poverty population
1,United States,938033,176188,1090679,536323,177582,322548,1488037,1211256,1014235,...,170576,319683,1827300,1875374,1507973,1247950,1525213,1065439,1148486,White Alone
2,United States,431375,85114,551892,247858,78194,141965,410848,402055,319891,...,73023,138798,487530,743961,568293,439798,522686,315404,240041,Black or African American Alone
3,United States,29751,7150,35368,18355,6037,11185,33609,34757,33046,...,5842,10813,43709,47562,40937,33042,38972,18145,13808,American Indian and Alaska Native Alone
4,United States,38476,9300,55594,25953,12146,19193,184752,125746,79262,...,8725,23872,169429,148075,106449,86520,88978,98900,96824,Asian Alone
5,United States,4922,916,6045,3143,1301,1215,6336,5467,5634,...,1316,1637,7818,9274,7371,5098,4299,2690,2197,Native Hawaiian ana Other Pacific Islander Alone
6,United States,162370,35601,207373,100295,33355,56929,147106,149562,162779,...,32358,58417,175807,251089,248659,142601,107513,74057,49616,Some Other Race Alone
7,United States,151038,24103,143043,59989,20638,34434,102836,79761,53417,...,22031,34990,127216,120848,80217,48948,53520,24359,19149,Two or More Races
8,United States,539628,99552,611680,305608,103722,194787,1179518,917566,709747,...,105229,197146,1438731,1340381,1025063,970631,1284184,882155,981169,"White Alone, Not Hispanic or Latino"
9,United States,624047,121623,760775,359100,118401,202853,496125,478731,493228,...,106057,198551,612385,839575,774308,447828,374339,272232,231525,Hispanic or Latino

In [46]:
#Join the three tables
dfageMerge = pd.concat([dfageJ, dfageK, dfageUS])

dfageMerge["Year"]=YEAR

#Export it as csv
dfageMerge.to_csv('Poverty_age_merged.csv')

In [47]:
dfageMerge

,Location,Male less than 5,Male 5,Male 6-11,Male 12-14,Male 15,Male 16-17,Male 18-24,Male 25-34,Male 35-44,...,Female 16-17,Female 18-24,Female 25-34,Female 35-44,Female 45-54,Female 55-64,Female 65-74,Female 75 and older,info,Year
0,"Jefferson County, Kentucky",5234,878,6975,1605,439,1337,6142,5153,3539,...,1637,5989,9203,6953,6075,7498,4284,3409,Total poverty population,2019
1,"Jefferson County, Kentucky",2371,354,3122,662,213,469,4700,2865,2395,...,500,4290,5104,4000,4091,3871,2640,2713,White Alone,2019
2,"Jefferson County, Kentucky",2646,375,3191,943,226,778,1038,1999,1095,...,1137,1429,3697,2617,1776,3560,1325,662,Black or African American Alone,2019
3,"Jefferson County, Kentucky",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,American Indian and Alaska Native Alone,2019
4,"Jefferson County, Kentucky",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,Asian Alone,2019
5,"Jefferson County, Kentucky",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,Native Hawaiian ana Other Pacific Islander Alone,2019
6,"Jefferson County, Kentucky",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,Some Other Race Alone,2019
7,"Jefferson County, Kentucky",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,Two or More Races,2019
8,"Jefferson County, Kentucky",2064,209,2182,662,137,469,4480,2398,2107,...,472,3706,4401,3756,3765,3561,2472,2617,"White Alone, Not Hispanic or Latino",2019
9,"Jefferson County, Kentucky",307,145,1302,0,76,0,348,514,464,...,28,660,841,280,372,310,233,96,Hispanic or Latino,2019
0,Kentucky,31250,7115,36411,13515,5608,8187,40041,37200,29296,...,11039,48279,56485,42499,37299,45019,28429,24859,Total poverty population,2019
1,Kentucky,22296,5209,27860,11294,3852,6329,29074,30583,24785,...,8428,40401,45963,35294,31646,37026,24987,22490,White Alone,2019
2,Kentucky,4393,620,4699,1632,673,1212,6456,4060,2385,...,1664,4404,6417,4633,4370,7062,2761,1859,Black or African American Alone,2019
3,Kentucky,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,American Indian and Alaska Native Alone,2019
4,Kentucky,205,35,434,91,357,114,744,502,456,...,268,334,1781,632,215,51,478,93,Asian Alone,2019
5,Kentucky,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,Native Hawaiian ana Other Pacific Islander Alone,2019
6,Kentucky,1270,123,729,249,178,73,839,1017,1186,...,98,568,705,926,583,100,0,0,Some Other Race Alone,2019
7,Kentucky,3086,1128,2652,249,468,459,2928,878,290,...,581,2105,1599,872,461,518,203,268,Two or More Races,2019
8,Kentucky,20831,4847,25370,10900,3496,6133,28269,29522,23843,...,8123,39015,44262,34182,30854,36531,24530,22143,"White Alone, Not Hispanic or Latino",2019
9,Kentucky,3051,444,3650,732,863,527,1891,2248,2380,...,403,2053,2949,2186,1407,595,522,491,Hispanic or Latino,2019
0,United States,1755965,338372,2089994,991916,329253,587469,2373524,2008604,1668264,...,588210,2838809,3196183,2559899,2003957,2341181,1598994,1570121,Total poverty population,2019
1,United States,938033,176188,1090679,536323,177582,322548,1488037,1211256,1014235,...,319683,1827300,1875374,1507973,1247950,1525213,1065439,1148486,White Alone,2019
2,United States,431375,85114,551892,247858,78194,141965,410848,402055,319891,...,138798,487530,743961,568293,439798,522686,315404,240041,Black or African American Alone,2019
3,United States,29751,7150,35368,18355,6037,11185,33609,34757,33046,...,10813,43709,47562,40937,33042,38972,18145,13808,American Indian and Alaska Native Alone,2019
4,United States,38476,9300,55594,25953,12146,19193,184752,125746,79262,...,23872,169429,148075,106449,86520,88978,98900,96824,Asian Alone,2019
5,United States,4922,916,6045,3143,1301,1215,6336,5467,5634,...,1637,7818,9274,7371,5098,4299,2690,2197,Native Hawaiian ana Other Pacific Islander Alone,2019
6,United States,162370,35601,207373,100295,33355,56929,147106,149562,162779,...,58417,175807,251089,248659,142601,107513,74057,49616,Some Other Race Alone,2019
7,United States,151038,24103,143043,59989,20638,34434,102836,79761,53417,...,34990,127216,120848,80217,48948,53520,24359,19149,Two or More Races,2019
8,United States,539628,99552,611680,305608,103722,194787,1179518,917566,709747,...,197146,1438731,1340381,1025063,970631,1284184,882155,981169,"White Alone, Not Hispanic or Latino",2019
9,United States,624047,121623,760775,359100,118401,202853,496125,478731,493228,...,198551,612385,839575,774308,447828,374339,272232,231525,Hispanic or Latino,2019